@import "~tailwindcss/base";
@import "~tailwindcss/components";

*{
    font-family: 'Poppins', sans-serif;
}
h1{
    @apply text-h1;
    line-height: 110%;
    letter-spacing: -0.01em;
}
h2{
    @apply text-h2;
    line-height: 112%;
    letter-spacing: -0.01em;
}
p{
    font-size: 20px;
    line-height: 140%;
}
.twocolimage{
    .containImage{
        min-height: 375px;
        @screen sm {
            min-height: 640px;
        }
    }
    .fullImage{
        min-height: 375px;
        @screen sm {
            min-height: 640px;
        }
        img{
            @apply object-cover object-center;
        }
    }
}


@import "~tailwindcss/utilities";


